# --------------------------
# Main APP configuration
# --------------------------
TZ=Asia/Jakarta
PORT=3333
HOST=localhost
APP_URL=http://localhost:3333
APP_KEY=
APP_ENCRYPTOR=gcm
VITE_APP_NAME=My Website
VITE_APP_URL=http://localhost:3333
LOG_LEVEL=info
NODE_ENV=development
SESSION_DRIVER=cookie
CACHE_DRIVER=memory

PROJECT_REPO_URL=https://github.com/{user}/{repo}

# --------------------------
# Database configuration
# --------------------------
DB_CONNECTION=postgres
DB_POSTGRES_URL=postgresql://user:password@localhost:5432/mydatabase
DB_POSTGRES_CA="-----BEGIN CERTIFICATE-----
YOUR CERTIFICATE HERE
-----END CERTIFICATE-----"
DB_TURSO_URL=libsql://[db-name]-[org-name].[location].turso.io?authToken=[auth-token]

# For Redis configuration if needed
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Set the limiter store to database or redis
LIMITER_STORE=database # set it to 'redis' if you are using redis

# --------------------------
# Disk drive / file system
# --------------------------
# Type of drive disk to use: fs, s3
# it is very recommended to use 's3'
DRIVE_DISK=s3

# If using s3 do not forget to set the following variables
S3_KEY=
S3_SECRET=
S3_BUCKET=
S3_ENDPOINT=127.0.0.1:9000
S3_CDN_URL=         # set cdn url if different
S3_REGION=auto
S3_VISIBILITY=private # public or private

# --------------------
# Email configuration
# --------------------
# for support email information in every email's footer
SUPPORT_EMAIL=contact@myweb.local

# For SMTP configuration
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

# --------------------
# Analytics
# --------------------
UMAMI_ID=
UMAMI_SCRIPT_URL=https://umami.myweb.local/umami.js
UMAMI_SHARE_URL=
UMAMI_API_URL=https://umami.myweb.local/api
UMAMI_API_KEY=
UMAMI_USERNAME=
UMAMI_PASSWORD=


# --------------------
# Giscus configuration
# --------------------
# Analytics in dashboard
GISCUS_REPO_OWNER=johnsmith
GISCUS_REPO_NAME=my-repo
GISCUS_GITHUB_TOKEN=    # Get a token from https://github.com/settings/tokens. Need read:discussion permission

# For giscus itself
GISCUS_HOST=https://giscus.app # if self hosted, change to your giscus domain
GISCUS_REPO=
GISCUS_REPO_ID=
GISCUS_CATEGORY=
GISCUS_CATEGORY_ID=

# --------------------
# captcha configuration with cloudflare turnstile
# --------------------
TURNSTILE_SECRET=
TURNSTILE_SITE=

# Set to true to bypass when running in local environment
BYPASS_CF_TURNSTILE=false


# --------------------
# Toggleable feature
# --------------------
# To enable or disable user registration feature
ENABLE_REGISTRATION=false

# To enable or disable forgot password feature
ENABLE_FORGOT_PASSWORD=false

# To hide or show registration form
HIDE_REGISTRATION=false

# To hide or show forgot password form
HIDE_FORGOT_PASSWORD=false

# Enable activity log
ENABLE_ACTIVITY_LOG=true
