html {
	--md-max-width: 700px;
}

/* override wdme theme */
.wmde-markdown {
	background-color: inherit !important;
	color: inherit !important;
	font-family: inherit !important;
}

.wmde-markdown h1 {
	font-size: 2em !important;
}

.wmde-markdown h2 {
	font-size: 1.5em !important;
}

.wmde-markdown h3 {
	font-size: 1.17em !important;
}

.wmde-markdown h4 {
	font-size: 1em !important;
}

.wmde-markdown h5 {
	font-size: 0.83em !important;
}

.wmde-markdown h6 {
	font-size: 0.67em !important;
}

/* ------------------------------- */
/* thumbnail */
.post-thumbnail {
	width: 95%;
	max-width: var(--md-max-width);
}

/* title */
.post-title-wrapper {
	max-width: 700px;
	overflow: break-word;
	margin: 0 auto 1rem;
}

/* md-wrapper */
.md-wrapper {
	position: relative;
	width: 90%;
}

.md-wrapper.full-width {
	width: 100%;
}

/* ------------------------------- */
/* md-body */
.md-body {
	max-width: 700px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0 2rem;
	overflow: hidden;
	overflow-wrap: break-word;
	line-height: 24px;
}

.md-body h1,
.md-body h2,
.md-body h3,
.md-body h4,
.md-body h5,
.md-body h6 {
	margin-top: initial;
}

.md-body dl,
.md-body ol,
.md-body ul {
	margin-top: 0;
	margin-bottom: 1rem;
}

.md-body ol,
.md-body ul {
	padding-left: 2rem !important;
}

.md-body li {
	margin-top: 0 !important;
}

.md-body.dark p,
.md-body.dark li {
	color: rgb(166, 167, 171);
}

.md-body img {
	margin-bottom: 0;
	cursor: pointer;
}

/* 1 tick code */
.md-body p code,
.md-body li code {
	font-weight: 500;
	border-spacing: 10px;
	position: relative;
	padding: 0.25rem;
	border-radius: 0.25rem;
	background-color: inherit !important;
	border: 1px solid #cacfd6 !important;
}

.md-body.light p code,
.md-body.light li code {
	border: 1px solid #cacfd6;
	color: rgb(214, 51, 132);
}

.md-body.dark p code,
.md-body.dark li code {
	color: yellow;
}

/* 3 tick code */
.md-body .codeblock-wrapper {
	position: relative;
	background-color: #2a2139;
}

.md-body .codeblock-wrapper code {
	border: none;
}

.md-body pre {
	padding: 0 !important;
}

.md-body .codeblock-wrapper div pre {
	margin-top: 1.5rem !important;
	margin-bottom: 0 !important;
	padding: 0.5rem !important;
}

.md-body .btn-copy {
	padding: 5px 10px;
}

.md-body .btn-lang {
	padding: 4px 8px;
}

.md-body .lang-name {
	position: absolute;
	left: 15px;
	top: -2px;
}

.md-body .copy-btn {
	position: absolute;
	right: 5px;
	top: 5px;
}

/* ------------------------------- */
/* media query */
@media (max-width: 900px) {
	.md-body {
		border: none;
		padding: 0 auto;
	}
}

@media (max-width: 500px) {
	.md-body {
		border: none;
		padding: 0 1rem;
	}
}
